<html lang="en">
    <head>
        <link href="/static/style.css" rel="stylesheet" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>Fast calc</title>
    </head>
    <body>
               
        <div class="jumbotron">
            <div class="container">
                <h1 class="max-500px">
                    Result
                </h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col offset-md-2 col-lg-6">
                             
                    <iframe frameborder="0" src="/embed/{{expression_id}}" style="width:960px;height:100%" height="100%" width="960" scrolling="no" id="value" style="width: 100%; height: 100%;"></iframe>
                    
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 col offset-md-2 col-lg-6">
                    Embed in your page:
                    <! -- too lazy to implement host replacement --!>
                    <input type="text" value="http://HOST/embed/{{expression_id}}" id="share" style="width: 100%;"></input>
                </div>
            </div>
        </div>
    </body>
</html>